<div class="container">
    <h2>Convert Tool</h2>
    <div class="content">
        <input type="text" [(ngModel)]="inputData" placeholder="Enter your text...">
        <button (click)="clickButtonConvert()">Convert</button>
        <output>{{convertData}}</output>
    </div>

    <h2>Revert Tool</h2>
    <div class="content">
        <input type="text" [(ngModel)]="inputRevertData" placeholder="Enter your text...">
        <button class="revertButton" (click)="clickButtonRevert()">Revert</button>
        <output>{{revertData}}</output>
    </div>

    <h2>Image Encoder Tool</h2>
    <div class="content">
        <input class="input" type="file" (change)="upload($event)">
        <output id="image">{{imageData}}</output>
    </div>

    <h2>Image Decode Tool</h2>
    <div class="content">
        <input type="text" [(ngModel)]="inputEncodeImageData" placeholder="Enter your text...">
        <button class="revertButton" (click)="clickButtonDecodeImage()">Decode</button>
        <img id="myimage" [src]='thumbnail' />
    </div>
</div>
